<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections />
  <connectionStrings>
    <add name="StudentOrientationConnectionString" connectionString="Data Source=cite3;Initial Catalog=StudentOrientation;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--<add name="StudentOrientationConnectionString1" connectionString="Data Source=cite3.nwmissouri.edu;Initial Catalog=StudentOrientation;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
    <!--<add name="DepartmentConnectionString" connectionString="Data Source=CITE3;Initial Catalog=StudentOrientation;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
    <!--<add name="TestDatabaseConnectionString" connectionString="Data Source=CITE3;Initial Catalog=TestDatabase;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <customErrors mode="Off" />
  </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="login.aspx" />
                <add value="Default.htm" />
                <add value="default.aspx" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="index.php" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>